
<html>

  <head>
    <meta charset="utf-8">
    <title>The Grid Game</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="/js/index.js" defer></script>
  </head>

  <body>

    <header>
      <button id="spin">Spin</button>
      <button id="commit">Commit</button>
      <button id="reset">Reset</button>
    </header>

    <div class="screen">

      <div class="panel">
        <div class="your-number"></div>
        <div class="winner-number"></div>
      </div>

      <div class="layout">

        <div class="game-container">
          <div class="player">10</div>
          <div class="player">10</div>
          <div class="player">10</div>
          <div class="player">10</div>
        </div>
        
        <div class="grid-container">
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
          <div class="grid-item">6</div>
          <div class="grid-item">7</div>
          <div class="grid-item">8</div>
          <div class="grid-item">9</div>
          <div class="grid-item">10</div>
          <div class="grid-item">11</div>
          <div class="grid-item">12</div>
          <div class="grid-item">13</div>
          <div class="grid-item">14</div>
          <div class="grid-item">15</div>
          <div class="grid-item">16</div>
          <div class="grid-item">17</div>
          <div class="grid-item">18</div>
          <div class="grid-item">19</div>
          <div class="grid-item">20</div>
          <div class="grid-item">21</div>
          <div class="grid-item">22</div>
          <div class="grid-item">23</div>
          <div class="grid-item">24</div>
          <div class="grid-item">25</div>
          <div class="grid-item">26</div>
          <div class="grid-item">27</div>
          <div class="grid-item">28</div>
          <div class="grid-item">29</div>
          <div class="grid-item">30</div>
          <div class="grid-item">31</div>
          <div class="grid-item">32</div>
          <div class="grid-item">33</div>
          <div class="grid-item">34</div>
          <div class="grid-item">35</div>
          <div class="grid-item">36</div>
          <div class="grid-item">37</div>
          <div class="grid-item">38</div>
          <div class="grid-item">39</div>
          <div class="grid-item">40</div>
          <div class="grid-item">41</div>
          <div class="grid-item">42</div>
          <div class="grid-item">43</div>
          <div class="grid-item">44</div>
          <div class="grid-item">45</div>
          <div class="grid-item">46</div>
          <div class="grid-item">47</div>
          <div class="grid-item">48</div>
          <div class="grid-item">49</div>
        </div>

        <div class="history-container">

          <div class="player">10</div>
          
        </div>

      </div>

    </div>

  </body>

</html>